<!DOCTYPE html>
<html>

<head>
  <title>Ticket Details</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"
    id="bootstrap-css">
  <!-- Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <style>
      body {
        background-image: url("../../tmp/fundo.avif");
        background-size: cover;
        margin: 0;
        padding: 0;
      }

      .overlay {
        position: relative;
        z-index: 1;
      }

      .container {
        position: relative;
        z-index: 2;
        text-align: center;
        color: #ffffff;
      }

      .form-group input[type="text"],
      .form-group select {
        border-width: 2px;
        color: #337ab7;
        background-color: rgb(223, 223, 223);
      }
    </style>
</head>

<body>
  <div class="container, flexar">
    <div class="item">
      <h1 style="text-align: center;">Ticket Details</h1>
      <table>
        <tbody>
          <tr>
            <td>Id</td>
            <td>:</td>
            <td>
              <%= tickets._id %>
            </td>
          </tr>
          <tr>
            <td>NIF do cliente</td>
            <td>:</td>
            <td>
              <%= tickets.clientNIF %>
            </td>
          </tr>
          <tr>
            <td>Nome do Evento</td>
            <td>:</td>
            <td>
              <%= tickets.eventoNome %>
            </td>
          </tr>
          <tr>
            <td>Quantidade de tickets comprados</td>
            <td>:</td>
            <td>
              <%= tickets.quantidade %>
            </td>
          </tr>
          <tr>
            <td>Pontos ganhos pela aquisição</td>
            <td>:</td>
            <td>
              <%= tickets.pontos %>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 style="text-align: center;"><a href="/tickets">Ver todos os tickets</a></h3>
    </div>
  </div>
</body>

</html>